@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, -apple-system, Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: var(--contrast);
    transition: 0.15s;

    &:hover {
        opacity: 0.75;
    }
}

:root {
    // colors
    --bg: white;
    --contrast: transparent;

    // other
    --curve: cubic-bezier(0, 0.45, 0.15, 1);
}
